{% extends 'navigationbar.html' %}

{% block body %}


<div class="container" style = "margin-top : 100px">
<h2 class="text-center text-danger font-weight-bold">Add New Member</h2>


    <form method="post" action="">
         {% csrf_token %}
        <label><b>Name</b></label>
    <input type="text" class= "form-control" placeholder="Enter Member Name" name="name" required>

    <label ><b>Contact</b></label>
    <input type="text" class= "form-control" placeholder="Enter Contact No." name="contact" required>

        <label ><b>EmailID</b></label>
    <input type="email" class= "form-control" placeholder="Enter EmailID" name="emailid" required>

        <label ><b>Age</b></label>
    <input type="number" class= "form-control"  name="age" required>

        <label ><b>Gender</b></label>
    <input type="radio" name="gender" value="Male" required> Male
<input type="radio" name="gender" value="Female" required> Female
      <br>
        <label><b>Plan</b></label>

<select name="plan" class="form-control">
            {% for i in plan %}
            <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
            {% endfor %}
        </select>

<br>
        <label><b>Joining Date</b></label>
    <input type="date" class= "form-control" placeholder="Enter Joining Date" name="joindate" required>

 <label><b>Plan Expire Date</b></label>
    <input type="date" class= "form-control" placeholder="Enter Plan Expire Date" name="expiredate" required>

<label><b>Initial Amount(In Rs.)</b></label>
    <input type="text" class= "form-control" placeholder="Enter Initial Amount Paid" name="initialamount" required>
        <br>
        <input type = "submit" value="Submit" class="form-control btn btn-primary">
    </form>


</div>

{% ifequal error "no" %}
<script>
    alert('Record Saved Successfully');
    window.location=('{% url 'view_member' %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something went wrong,Try Again');
</script>
{% endifequal %}


{% endblock %}