{% extends 'navigationbar.html' %}
{% block body %}

<center><h2 style="color:red;margin-top:2%">View All Plans</h2></center><hr>
<div class="container" style="margin-top:5%">
<table class="table table-bordered" id="example">
  <thead>
  <tr>

    <th>Name</th>
      <th>Amount</th>
    <th>Duration</th>
    <th>Remove</th>
  </tr>
  </thead>
   <tbody>

    {% for i in plan %}

  <tr>


    <td>{{i.name}}</td>
      <td>{{i.amount}}</td>
      <td>{{i.duration}}</td>

<td><a href="{% url 'delete_plan' i.id %}" onclick="return confirm('Are you sure?')">
  Delete</a></td>
  </tr>

    {% endfor %}
    </tbody>

</table>

 </div>



{% endblock %}
